*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    background-color: white;
    width: 100%;
    padding: 10px;
    box-shadow: none;
}
.nav.scrolled {
    box-shadow: 0 5px 10px #0000008b;
}
.nav-space {
    height: 50px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav.scrolled img {
    width: 100px;
}

.nav img {
    width: 150px;
    border-radius: 50%;
    transition: width .5s;
}

nav li {
    list-style: none;
}

/*SECTIONS*/

section {
    padding: 50px;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-width: 500px;
}

.s0 {
    padding: 100px;
    flex-direction: column;
}

.s-text {
    max-width: 40vw;
    font-size: clamp(20px, 1.5vw + 0.2rem, 1.4rem);
}

.sa{
    padding: 7px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all .5s;
    background-color: white;
}

.sa:hover {
    color: rgb(255, 255, 255);
    background-color: gray;
}

.image {
    display: flex;
    justify-content: center;
    min-width: 200px;
    min-height: 200px;
    background-color: #000;
}

.img {
    width: 250px;
    height: 250px;
}

.s0-img {
    width: 300px;
    height: 300px;
}

/*FOOTER*/

footer {
    min-height: 100px;
    box-shadow: 0 -1px 50px #000;
    padding: 100px;
}

footer img {
    width: 30px;
}
footer .redes {
    display: flex;
    align-items: center;
}

footer a {
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/*COLORS*/

.text-white {
    color: white;
}

.text-black {
    color: black;
}


.text-center {
    text-align: center;
}


@media (max-width: 900px) {
    .section {
        flex-direction: column;
        align-items: center;
        min-width: 0;
        gap: 12px;
        padding: 20px 10px;
    }

    .section .image {
        order: -1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        height: auto;
    }

    .section .img {
        width: 100%;
        max-width: 360px;
        height: auto;
    }

    .s-text {
        max-width: 95%;
        text-align: center;
    }
}
