*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    background-color: white;
    width: 100%;
    padding: 10px;
    box-shadow: 0 5px 10px #0000008b;
}

.nav-space {
    height: 50px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav img {
    width: 70px;
    border-radius: 50%;
    transition: width .5s;
}

nav img:hover {
    width: 100px;
}

nav li {
    list-style: none;
}

/*SECTIONS*/

section {
    padding: 50px;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-width: 500px;
}

.s-text {
    max-width: 40vw;
}

a {
    padding: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: white;
    transition: all .5s;
}

a:hover {
    color: rgb(255, 255, 255);
    background-color: gray;
}

.image {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: #000;
}

.img {
    width: 200px;
    height: 200px;
}


/*FOOTER*/

footer {
    
}

/*COLORS*/

.text-white {
    color: white;
}

.text-black {
    color: black;
}